.login-form-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.mailbox-nav-title a, .signup-link a {
    font-family: 'Jaapokki';
    color: black;
}

.signup-link {
    margin-top: 20px;
    text-decoration: underline;
}

.signup-link a {
    color: black;
}

@media (min-width: 600px) {
    .login-form-page {   
        width: 400px;
    }

    .mailbox-nav-title a {
        font-size: 7vw;
    }
}

@media (max-width: 600px) {
    .login-form-page {    
        width: 60vw;
        height: 50vh;
    }
    
    .mailbox-nav-title a {
        font-size: 8vw;
    }
}