.register-form-page {
    display: flex;  
    justify-content: center;

    margin-top: 10px;
}

.register-form-container {
    margin: 0;
    padding: 0;
    width: 400px;
}

.register-mailbox-nav-title a, .register-link a {
    font-family: 'Jaapokki';
    color: black;
}

.register-link {
    margin-top: 10px;
    text-decoration: underline;
}

.register-link a {
    color: black;
}

/* desktop screen */
@media (min-width: 600px) {
    .register-form-page {   
        /* width: 400px; */
    }

    .register-form-container {
        width: 400px;
    }

    .register-mailbox-nav-title a {
        font-size: 5vw;
    }
}

@media (max-width: 600px) {
    .register-form-page {    
 
    }

    .register-form-container {
        /* width: 60vw;
        height: 50vh; */
    }
    
    .register-mailbox-nav-title a {
        font-size: 8vw;
    }
}