.nav-bar-title {
    font-family: 'Jaapokki';
    color: black;
    font-size: 8vw;
}

.subtitle-container {
    display: flex;
    justify-content: space-around;
}

.nav-bar-subtitle {
    font-family: 'Jaapokki';
    color: black;
    font-size: 3vw;
    transition: ease-in .25s;
    padding: 5px;
    border-bottom: 1px solid transparent;
}

.nav-bar-subtitle:hover {
    border-bottom: 1px solid black;
}

.nav-bar-subtitle:active {
    border-bottom: 1px solid white;
}

.logout-button {
    position: fixed;
    right: 28px;
    bottom: 20px;
    font-family: 'Jaapokki';
    color: black;
    padding: 2px 5px;
    background-color: rgb(204, 45, 45);
    transition: ease-in .25s;
}

.logout-button:hover {
    background-color: red;
}

.highlight {
    border-bottom: 1px solid black;
}