@font-face {
    font-family: 'Jaapokki';
    src: url('./fonts/jaapokki-regular.eot');
    src: url('./fonts/jaapokki-regular.eot') format('embedded-opentype'),
         url('./fonts/jaapokki-regular.woff') format('woff'),
         url('./fonts/jaapokki-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'mvboli';
    src: url('./fonts/mvboli.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600');
@import url('https://fonts.googleapis.com/css?family=Miniver');
@import url('https://fonts.googleapis.com/css?family=Space+Mono:700');
@import url('https://fonts.googleapis.com/css?family=Aldrich|Hammersmith+One|Teko');