body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f5ff4c;
}

/*  Reset button style */
button {
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor:pointer;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}